.shop {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items (including the h1 tag) to the center horizontally */
}

.shopTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; /* Align text in the center */
}


.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)); /* Adjust minmax width as needed */
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 10px;
}

.product-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  color: #888;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
